.btn{
    border: solid white 2px;
    padding: 8px;
    font-size: 1.1em;
    width: 200px;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.267) 0px 0px 4px;
}

#ok{
    background-color: #09ddff;
}

.warning{
    background-color: #ff0000;
}
.warning:hover{
    font-size: 1.2em;
}

.excluir, .editar{
    background-color: white;
    border-radius: 8px;
    margin-top: 8px;
    padding: 4px;
    display:inline-block;
    width: 64px;
}


.search{
    border: solid white 2px;
    padding: 8px;
    border-radius: 8px;
    background-color: #09ddff;
    color: white;
    font-weight: 500;
    width: 30%;
}

.add-btn{
    border: solid #14ae5c 2px;
    border-radius: 8px;
    background-color: white;
    font-weight: 500;
    color: #14ae5c;
    display: flex;
    align-items: center;
    padding: 4px;
}

.add-btn:hover{
    background-color: #14ae5c;
    color: white;
    scale: 1.1;
}

.close-btn{
    float: right;
    width: 32px;
    height: 32px;
}

.close-btn img{
    width: 100%;
    height: 100%;
}

.editar:hover, .excluir:hover, #warning:hover, .search:hover{
    scale: 1.1;
}